<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Página que muestra mensaje de bienvenida y botones
  para leer QR y cerrar sesión -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-text>Bienvenido, {{ nombreUsuario }}</ion-text>
  
    <ion-button expand="full" routerLink="/miclase">Leer QR</ion-button>
    <ion-button expand="full" (click)="subirArchivo()">Subir Archivo QR</ion-button>
    <ion-button expand="full" routerLink="/ingreso">Cerrar Sesión</ion-button>
  </ion-content>
  