<!-- Página que muestra la pregunta secreta para 
  recuperar nuestra contraseña asociada al correo -->
  <ion-header>

    <ion-toolbar color="medium">
      <ion-title class="ion-text-center">Responder Pregunta</ion-title>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  
  <ion-card color="light">
    <ion-card-header>

      
      <img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png" />

    </ion-card-header>
  
    <ion-item>
      <ion-label>Pregunta Secreta</ion-label>
      <ion-text>{{ usuario.preguntaSecreta }}</ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuestaSecreta"></ion-input>
    </ion-item>
  
    <ion-button expand="full" (click)="verificarRespuesta()">Verificar Respuesta</ion-button>
  
  

  
  
     
      
     
    
        
    
        
    
  
    </ion-card>
  
  
  
  
  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center">2023</ion-title>
    </ion-toolbar>
  </ion-footer>
  
  