<!-- Página que muestra la pregunta secreta para 
  recuperar nuestra contraseña asociada al correo -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Responder Pregunta</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label>Pregunta Secreta</ion-label>
      <ion-text>{{ usuario.preguntaSecreta }}</ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuestaSecreta"></ion-input>
    </ion-item>
  
    <ion-button expand="full" (click)="verificarRespuesta()">Verificar Respuesta</ion-button>
  </ion-content>
  