<!-- Página que muestra la pregunta secreta para 
  recuperar nuestra contraseña asociada al correo -->
  
  <ion-content  fullscreen class="background">

    <ion-header >
      
        
        <ion-card class="cardcontenido">
       <ion-item>
        <ion-title>PREGUNTA SECRETA</ion-title>
       <ion-img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png"/>
       </ion-item>
          </ion-card> 
       
  
    </ion-header>
  
    <br />
  
   
    
  
  
    <ion-card color="light" class="cardcontenido">
      
      <ion-card-title class="ion-text-center">Pregunta Secreta: {{ usuario.preguntaSecreta }}</ion-card-title>
      <ion-card>
        <ion-item>
          <ion-label position="floating">Respuesta</ion-label>
          <ion-input [(ngModel)]="respuestaSecreta"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card> 
        <ion-button expand="full" (click)="verificarRespuesta()">Verificar Respuesta</ion-button>
      </ion-card> 
      <ion-card> 
      <ion-button expand="full" routerLink="/recuperar-contrasenia">Regresar</ion-button>
    </ion-card> 
     
     
     </ion-card>
    
   
  
  
     
  
     
  
  
  
  </ion-content>
  
  
  
  
  
  <ion-footer>
    <div class="container">
      
      <h6   class="ion-text-center" >Genialtech since 2023</h6>
      
    </div>
  </ion-footer>
  
  
  
  
  
