<!-- Página de inicio de sesión con correo y contraseña -->
<ion-content  fullscreen class="background">
  <br />
  <br />
  <br />

  <ion-card class="cardcontenido" color="light">
    <div id="container">

    <ion-card-header>
      <img alt="DUOC UC" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png" />
      <ion-card-title class="ion-text-center">Bienvenido al sistema de Clases</ion-card-title>
    </ion-card-header>
    </div>

  </ion-card>

  <br />
  <br />
  <br />


  <ion-card class="cardcontenido" color="light">
    <div id="container" >

      <ion-card-header >
        
        <ion-input  type="email" fill="clear" label="Email" labelPlacement="floating" helperText="Ingresa tu correo" errorText="Correo invalido" [(ngModel)]="correo" ></ion-input>
        
        <br />

        <ion-input type="password" fill="clear" label="Password" labelPlacement="floating" helperText="Ingresa tu contraseña" errorText="Contraseña invalida" [(ngModel)]="contrasena" ></ion-input>
        
        <br />

        <ion-button  (click)="iniciarSesion()">Iniciar Sesión</ion-button>

      </ion-card-header>

    </div>
    
  </ion-card>




  <br />

 
<ion-card class="cardcontenido">
<div class="container"> 
  
  <ion-card-header >
    <ion-button  routerLink="/recuperar-contrasenia">Recuperar Contraseña</ion-button>
  </ion-card-header>

</div> 
 </ion-card> 
  
  
  




  
</ion-content>

<ion-footer>
  <div class="container">
    
    <h6   class="ion-text-center" >Genialtech since 2023</h6>
    
  </div>
</ion-footer>